{{> header }}

	<div id="board" class="board">
		<div id="note-1" class="note" draggable="false">Note 1</div>
		<div id="note-2" class="note" draggable="false">Note 2</div>
	</div>
	
	<div id="done" class="done"></div>
	
	<div id="trash" class="trash"></div>
	
	<div id="notepad">New Note</div>
	
{{> footer }}